@media screen and (max-width: 830px) {
    .logo {
        top: 12%;
    }

    .logo img {
        max-width: 227px;
    }

    .submargin {
        margin-bottom: 20px;
    }

    .contentBox {
        padding: 0 20px;
    }

    .mainSubtitle {
        font-size: 15.5px;
        line-height: 17px;
    }

    .secondSubtitle {
        font-size: 23.54px;
        line-height: 29px;
    }

    .mainTitle {
        font-size: 20.54px;
        line-height: 20px;
    }

    .link_btn {
        padding: 17px 0;
    }

    .subtitle {
        font-size: 29px;
        line-height: 29px;
    }
    .secslider {
        bottom: 35px;
    }
}



@media screen and (max-width: 455px) {
    .logo img {
        max-width: 200px;
    }
    .mainSubMargin {
        top: 27%;
    }
    .secslider {
        bottom: 35px;
    }
    .link_btn{
        font-size: 13px;
        padding: 13px 0;
        line-height: 13px;
    }
    .subtitle {
        font-size: 23px;
        line-height: 24px;
    }
    .secondSubtitle {
        font-size: 20.54px;
        line-height: 22px;
    }
    .slick-dots li button, .slick-dots li button:before, .slick-dots li{
        width: 40px !important;
    }
    
}
@media screen and (max-width:376px) {
    .submargin {
        top: 120px;
    }
    .mainSubtitle {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 10px;
    }
    .secslider {
        bottom: 24px;
    }
    .slick-dots {
        bottom: 7px !important;
    }
}


@media screen and (max-height:530px) {
    .link_btn {
        padding: 5px;
    }

    .contentBox {
        bottom: 47px;
        padding: 0px 100px;
    }
  
}

@media screen and (max-height:425px) {
    .logo img {
        max-width: 148px;
    }

    .subtitle {
        font-size: 18px;
        line-height: 18px;
    }

    .submargin {
        margin-bottom: 9px;
    }

    .secondSubtitle {
        font-size: 17.54px;
        line-height: 21px;
    }

    .contentBox {
        bottom: 25px;
    }

    .link_btn {
        width: 250px;
        font-size: 11px;
        line-height: 13px;
    }

    .slick-dots {
        bottom: 7px !important;
    }

    
}