* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf1f3;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.bannerBox {
    position: absolute;
    bottom: 0;
}

.sectionHeight {
    /* position: absolute; */
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: -webkit-fill-available;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.wrapper {
    padding: 22px 0;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: -webkit-fill-available;
}

.first_sec {
    background-image: url('../img/bgbig1.png');
}

.second_sec {
    background-image: url('../img/bgbig2.png');
}

.third_sec {
    background-image: url('../img/bgbig3.png');
}

.fouth_sec {
    background-image: url('../img/bgbig4.png');
}

.fifth_sec {
    background-image: url('../img/bgbig5.png');
}

.logo {
    margin-top: 68px;
    display: flex;
    justify-content: center;
}

.logo img {
    margin: 0 auto;
    max-width: 252px;
    width: 100%;
}

.contentBox {
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: 60px;
    text-align: center;
    padding: 0 70px;
    margin: 0 auto;
    max-width: 100%;
}
.secslider{
    position: absolute;
    bottom:60px;
    width: 100%;
}
.contentBox2{
    max-width: 768px;
    width: 100%;
    bottom: 60px;
    text-align: center;
    padding: 0 20px;
    margin: 0 auto;
}

.subtitle {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
}

.secondSubtitle {
    font-weight: 450;
    font-size: 35.54px;
    line-height: 29px;
}

.mainSubMargin {
    margin-top: 62px;
}

.submargin {
    margin-bottom: 34px;
}

.mainTitle {
    margin-bottom: 13px;
    font-weight: 450;
    font-size: 41px;
    line-height: 41px;
}

.mainSubtitle {
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.link_btn {
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: 2px solid #1F325C;
    cursor: pointer;
    width: 100%;
    padding: 22px 0;
    text-align: center;
    border-radius: 40px;
    transition: 0.4s ease;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    color: black;
    outline: none;
}

.link_btn:hover {
    background: #21335C;
    color: white;
}

/* dots */
.slick-dots {
    display: flex;
    justify-content: center;
    margin: -10px;
    padding: 1rem 0;
    list-style-type: none;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    border: none;
    background-color: rgb(255, 255, 255) !important;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: #21335C !important;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    /* bottom: 10px; */
    cursor: pointer;
    display: block;
    margin: 30px auto;
    margin-top: -10px;
    width: 23px;
    height: 23px;
    border-top: 1px solid #A8B1C7;
    border-left: 1px solid #A8B1C7;
    z-index: 10;
    opacity: 0.7;
}

.prev-arrow {
    left: 17px;
    transform: rotate(-45deg);
}

.next-arrow {
    right: 17px;
    transform: rotate(135deg);
}

/* .prev-arrow::after,
.next-arrow::after {
    content: "";
    display: block;
    width: 1px;
    height: 55px;
    background-color: #A8B1C7;
    border-radius: 3px;
    transform: rotate(-45deg) translate(19px, 7px);
}

.prev-arrow::after {
    left: 0;
}

.next-arrow::after {
    right: 0;
} */